  <div class="detailed">

    <div class="heading">
      <div class="link">
        <a href="<%= item.url %>" target="_blank"><img src="images/www.png" class="www"><%= item.name %></a>
      </div>
      <div class="close" index="<%= index %>">x</div>
    </div>

    <hr>

    <div class="price">
      <div class="text">KR <b><%= Math.ceil(item.price) %></b>
      <% if (item.oldprice) { %>
        FØR <b><%= Math.ceil(item.oldprice) %></b>
      <% } %>
      </div>
      <% if (item.discount) { %>
        <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b></div>
      <% } %>
    </div>

    <div class="price">
      <div class="text">
        <div class="text">
          LITERPRIS <b><%= Math.ceil(item.literprice) %></b>
        </div>
      <% if (item.alcoholprice) { %>
        <div class="text">
          <div class="text">
            ALKOHOLLITERPRIS <b><%= Math.ceil(item.alcoholprice) %></b>
          </div>
        </div></div>
        <div class="text">
          <div class="text">
            ALKOHOL <b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>
          </div>
        </div>
      <% } else { %>
        </div>
      <% } %>
    </div>

    <hr>

    <table class="fractions">
      <tbody>

        <!-- Characteristics. -->
        <% if (item.characteristics && Array.isArray(item.characteristics) && item.characteristics.length > 0) { %>
          <tr>
            <td>EGENSKAPER<td>
            <td><td>
          </tr>
          <% item.characteristics.forEach(function(character) {
            var parts = character.split(', ');
            var values = parts[1].split(' av ');
          %>
            <tr>
              <td class="label"><%= parts[0] %>&nbsp;</td>
              <td class="value" style="--value: <%= parseInt(values[0]) %>; --total: <%= parseInt(values[1]) %>;"></td>
            </tr>
          <% }); %>
        <% } %>

        <!-- Ingredients. -->
        <% if (item.ingredients && Array.isArray(item.ingredients) && item.ingredients.length > 0) { %>
          <tr>
            <td>&nbsp;<td>
            <td><td>
          </tr>
          <tr>
            <td>INGREDIENSER<td>
            <td><td>
          </tr>
          <% item.ingredients.forEach(function(ingredient) {
            const patterns = [
              /(\d+)\s*%\s*([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)/i, // Matches "90% eple" or "10% (rips, solbær)"
              /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)\s*(\d+)\s*prosent/i, // Matches "Sumoll (Vijariego Negro) 10 prosent" or "Pinot Bianco 80 prosent"
              /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)/i, // Matches single word types like "Riesling"
            ];
            let result = null;
            for (const pattern of patterns) {
              const match = ingredient.match(pattern);
              if (match) {
                if (pattern === patterns[0]) {
                  result = { grape: match[2].trim(), percentage: parseFloat(match[1].trim()) };
                  result.grape = result.grape.charAt(0).toUpperCase() + result.grape.slice(1);
                } else if (pattern === patterns[1]) {
                  result = { grape: match[1].trim(), percentage: parseFloat(match[2].trim()) };
                } else if (pattern === patterns[2]) {
                  result = { grape: match[1].trim(), percentage: 100.0 };
                }
                break;
              }
            }
            if (result) {
          %>
            <tr>
              <td class="label">
                <%= result.grape %>&nbsp;
              </td>
              <td class="percentage" style="--percentage: <%= result.percentage %>;"></td>
            </tr>
          <% } }); %>
        <% } %>

      </tbody>
    </table>

    <hr>

    <!-- Various fields of the product. -->
    <table class="key-val">
      <tbody>
        <% if (item.description.lang) { %>
          <tr>
            <td class="key">BESKRIVELSE &nbsp;</td>
            <td class="val"><%= item.description.lang %></td>
          </tr>
        <% } %>
        <% if (item.smell) { %>
          <tr>
            <td class="key">LUKT</td>
            <td class="val"><%= item.smell %></td>
          </tr>
        <% } %>
        <% if (item.taste) { %>
          <tr>
            <td class="key">SMAK</td>
            <td class="val"><%= item.taste %></td>
          </tr>
        <% } %>
        <% if (item.storage) { %>
          <tr>
            <td class="key">LAGRING</td>
            <td class="val"><%= item.storage %></td>
          </tr>
        <% } %>
        <% if (item.colour) { %>
          <tr>
            <td class="key">FARGE</td>
            <td class="val"><%= item.colour %></td>
          </tr>
        <% } %>
        <% if (item.selection) { %>
          <tr>
            <td class="key">VAREUTVALG &nbsp;</td>
            <td class="val"><%= item.selection %></td>
          </tr>
        <% } %>
        <% if (item.pair && item.pair.length > 0) { %>
          <tr>
            <td class="key">PASSER TIL &nbsp;</td>
            <td class="val"><%=
              item.pair.map(function(pair) {
                return pair.trim();
              }).join(' & ')
              %></td>
          </tr>
        <% } %>
        <% if (item.method) { %>
          <tr>
            <td class="key">METODE</td>
            <td class="val"><%= item.method %></td>
          </tr>
        <% } %>
        <% if (item.year) { %>
          <tr>
            <td class="key">ÅRGANG</td>
            <td class="val"><%= item.year %></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <hr>

    <!-- Price chart. -->
    <div style="height:200px;">
      <b>PRISHISTORIKK</b>
      <canvas id="graph-<%= index %>"></canvas>
    </div>

    <script>
      var prices = <%= JSON.stringify(item.prices) %>;
      if (!prices || prices.length === 0) {
        prices = [0, 0];
      }
      var dates = generateDates(prices.length);

      // Duplicate the last price and add today's date to the end of the list
      prices.push(prices[prices.length - 1]);
      dates.push("nå");

      // Store the price history in session.
      sessionStorage.setItem("<%= index %>", JSON.stringify({
        price: prices,
        date: dates
      }));
    </script>

    <hr>

    <div class="price">
      <div class="text">KR <b><%= Math.ceil(item.price) %></b>
      <% if (item.oldprice) { %>
        FØR <b><%= Math.ceil(item.oldprice) %></b>
      <% } %>
      </div>
      <% if (item.discount) { %>
        <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b></div>
      <% } %>
    </div>

    <div class="price">
      <div class="text">
        <div class="text">
          LITERPRIS <b><%= Math.ceil(item.literprice) %></b>
        </div>
      <% if (item.alcoholprice) { %>
        <div class="text">
          <div class="text">
            ALKOHOLLITERPRIS <b><%= Math.ceil(item.alcoholprice) %></b>
          </div>
        </div></div>
        <div class="text">
          <div class="text">
            ALKOHOL <b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>
          </div>
        </div>
      <% } else { %>
        </div>
      <% } %>
    </div>

    <hr>

    <div class="heading">
      <div class="link">
        <a href="<%= item.url %>" target="_blank"><img src="images/www.png" class="www"><%= item.name %></a>
      </div>
      <div class="close" index="<%= index %>">x</div>
    </div>
  </div>
