<div class="header">
  <div><%= visitors %> besøkende denne måneden.</div>
  <% if (!user) { %>
    <div>
      <button onclick="currentModal('loginModal')">
        Logg inn
      </button>
      <span> | </span>
      <button onclick="currentModal('registerModal')">
        Registrer
      </button>
    </div>
  <% } else { %>
    <div>
      <button onclick="currentModal('profileModal')">
        <%= user?.username %>
      </button>
        <span> | </span>
      <button onclick="logout()">
        Logg ut
      </button>
      <span> | </span>
      <% if (!favourites) { %>
        <button onclick="window.location.href = '/?page=1&favourites=true'">
          Favoritter
        </button>
      <% } else { %>
        <button onclick="window.location.href = '/?page=1'">Hovedside</button>
      <% } %>
    </div>
  <% } %>
</div>

<div id="loginModal" class="signupModal">
  <form id="loginForm" class="signup">
    <table>
      <tr>
        <td>Brukernavn&nbsp;</td>
        <td><input type="text" id="usernameLOG" name="username" minlength="2" required></td>
      </tr>
      <tr>
        <td>Passord</td>
        <td><input type="password" id="passwordLOG" name="password" minlength="4" required></td>
      </tr>
    </table>

    <div>
      <span class="close" index="loginModal">x</span>
      <button type="submit" style="text-wrap: nowrap;">Logg inn</button>
    </div>
  </form>

  <div class="userMessage" id="loginMessage"></div>
</div>

<div id="registerModal" class="signupModal">
  <form id="registerForm" class="signup">
    <table>
      <tr>
        <td>E-post</td>
        <td><input type="email" id="emailSUP" name="email" required></td>
      </tr>
      <tr>
        <td>Brukernavn&nbsp;</td>
        <td><input type="text" id="usernameSUP" name="username" minlength="2" required></td>
      </tr>
      <tr>
        <td>Passord</td>
        <td><input type="password" id="passwordSUP" name="password" minlength="4" required></td>
      </tr>
    </table>

    <div>
      <span class="close" index="registerModal">x</span>
      <button type="submit">Registrer</button>
    </div>
  </form>

  <div class="userMessage" id="registerMessage"></div>
</div>

<div id="profileModal" class="signupModal">
  <form id="deleteUserForm" class="signup">
    <input type="hidden" id="usernameDEL" name="username" value="<%= user?.username %>">

    <table>
      <tr>
        <td>Brukernavn&nbsp;</td>
        <td><%= user?.username %></td>
      </tr>
      <!-- <tr>
        <td>E-post</td>
        <td style="text-wrap:"><%= user?.email %></td>
      </tr> -->
      <tr>
        <td>Passord</td>
        <td><input type="password" id="passwordDEL" name="password" minlength="4" required></td>
      </tr>
    </table>

    <div>
      <span class="close" index="profileModal">x</span>
      <button type="submit" style="text-wrap: nowrap;">Slett bruker</button>
    </div>
  </form>

  <div class="userMessage" id="profileMessage"></div>
</div>

<div id="favouriteModal" class="signupModal">
  <div class="userMessage" id="favouriteMessage"></div>
</div>

<script src="scripts/user.js"></script>
