<section class="product" index="<%= index %>" style="--highlight: <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--block)' %>; --marker: <%= item.discount > 0 ? 'var(--red)' : item.discount < 0 ? 'var(--green)' : 'var(--dimtext)' %>;">

  <div class="image">
    <img src="<%= item.images.product %>" alt="flaske">
    <div class="text"><b><%= (item.volume % 1 === 0) ? item.volume.toFixed(0) : item.volume.toFixed(1) %></b> cL</div>
  </div>

  <div class="information">
    <div class="name">
      <div id="name">
        <span><%= item.name %></span>
        <% if (user) { %>
            <img
                src="./images/favourite<%= user.favourites.includes(item.index) ? '-filled' : '' %>.png"
                alt="Favoritt"
                data-index="<%= item.index %>"
                class="favourite-toggle"
            >
          <% } %>
      </div>

      <div class="category">
        <div>
          <span><b><%= item.category %></b></span>
          <span style="font-size: 14px;"> <%= item.subcategory %></span>
        </div>

        <div class="text" id="alcohol"><b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>alk.</div>
      </div>

      <div class="country">
        <div style="font-size: 18px;"><%= item.country %></div>
        <% if (item.district) { %>
          <div id="dot" style="font-size: 10px;">●</div>
          <div style="font-size: 16px;"><%= item.district %></div>
        <% } %>
        <% if (item.subdistrict) { %>
          <div id="dot" style="font-size: 10px;">●</div>
          <div style="font-size: 12px;"><%= item.subdistrict %></div>
        <% } %>
      </div>

      <div class="country">
        <% if (storelike) { %>
          <% const storeRegex = new RegExp(`(^|[^a-zæøåA-ZÆØÅ])${storelike}([^a-zæøåA-ZÆØÅ]|$)`, 'i') %>
          <% const matchingStores = item.stores.filter(store => storeRegex.test(store)) %>
          <% matchingStores.forEach((store, index) => { %>
            <div style="font-size: 16px;"><%= store %></div>
            <% if (index !== matchingStores.length - 1) { %>
              <div id="dot" style="font-size: 10px;">●</div>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </div>

    <div class="description">
      <% if (item.description) { %>
        <p><%= item.description.lang %></p>
      <% } %>
    </div>

    <div class="price">
      <div class="text">KR <b><%= Math.ceil(item.price) %></b>
        <% if (item.oldprice) { %>FØR <b><%= Math.ceil(item.oldprice) %></b><% } %></div>
      <% if (item.oldprice) { %>
        <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b><b id="percent">%</b></div>
      <% } %>
    </div>
  </div>

  <%- include('detailed', { item: item, index: index }) %>

</section>
