<!DOCTYPE html>
<html lang="nb">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYBEXVQ5Q6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PYBEXVQ5Q6');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="js/stores.js"></script>
    <script src="js/graph.js"></script>

    <title>Snublejuice</title>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="manifest" href="/manifest.json?"/>
    <link rel="icon" type="image/png" href="./images/320x320.png">
    <link rel="apple-touch-icon" href="./images/1024x1024.png">

    <meta property="og:image" content="./images/1024x1024.png">
    <meta property="og:title" content="SNUBLEJUICE.no" />
    <meta property="og:description" content="Hold deg oppdatert på Vinmonopolets tilbud og prishistorikk!" />
    <meta name="keywords" content="Tilbud vin, Tilbud øl, Tilbud sprit, Tilbud hvitvin, Tilbud rødvin, Tilbud portvin, Gin, Vodka, Tilbud på alkohol, Tilbud vinmonopolet, Priser på vin, Priser på Øl, prisliste Vinmonopolet, Tilbud whisky, Tilbud champagne, Cognac, Brandy, Tilbud på brennevin, Billig vin, Billig øl, Billig sprit, Rødvin på tilbud, Hvitvin på tilbud, Alkohol tilbud, Vinmonopolet tilbud, Vinmonopolets tilbud, Importerte viner, Økologisk vin, Musserende vin, Priser på sprit, Priser på gin, Priser på vodka, Best pris alkohol, Tilbud på gin, Tilbud på vodka, Tilbud på cognac, Tilbud på brandy, Tilbud på musserende vin, Tilbud på økologisk vin, Tilbud på importerte viner, Tilbud på champagne, Tilbud på whisky, Tilbud på rom, Tilbud på tequila, Tilbud på likør, Tilbud på dessertvin, Tilbud på rosévin, Tilbud på sherry, Tilbud på vermut, Tilbud på sake, Tilbud på cider, Tilbud på craft beer, Tilbud på mikrobrygget øl, Tilbud på alkoholfritt, Tilbud på alkoholfri vin, Tilbud på alkoholfri øl, Tilbud på alkoholfri cider, Tilbud på alkoholfri musserende vin, Tilbud på alkoholfri sprit, Tilbud på alkoholfri gin, Tilbud på alkoholfri vodka, Tilbud på alkoholfri whisky, Tilbud på alkoholfri rom, Tilbud på alkoholfri tequila, Tilbud på alkoholfri likør, Tilbud på alkoholfri dessertvin, Tilbud på alkoholfri rosévin, Tilbud på alkoholfri sherry, Tilbud på alkoholfri vermut, Tilbud på alkoholfri sake, Tilbud på alkoholfri cider, Tilbud på alkoholfri craft beer, Tilbud på alkoholfri mikrobrygget øl, Tilbud på alkoholfritt, Priser på gin, Priser på vodka, Priser på cognac, Priser på brandy, Priser på musserende vin, Priser på økologisk vin, Priser på importerte viner, Priser på champagne, Priser på whisky, Priser på rom, Priser på tequila, Priser på likør, Priser på dessertvin, Priser på rosévin, Priser på sherry, Priser på vermut, Priser på sake, Priser på cider, Priser på craft beer, Priser på mikrobrygget øl, Priser på alkoholfritt, Priser på alkoholfri vin, Priser på alkoholfri øl, Priser på alkoholfri cider, Priser på alkoholfri musserende vin, Priser på alkoholfri sprit, Priser på alkoholfri gin, Priser på alkoholfri vodka, Priser på alkoholfri whisky, Priser på alkoholfri rom, Priser på alkoholfri tequila, Priser på alkoholfri likør, Priser på alkoholfri dessertvin, Priser på alkoholfri rosévin, Priser på alkoholfri sherry, Priser på alkoholfri vermut, Priser på alkoholfri sake, Priser på alkoholfri cider, Priser på alkoholfri craft beer, Priser på alkoholfri mikrobrygget øl, Priser på alkoholfritt, Best pris gin, Best pris vodka, Best pris cognac, Best pris brandy, Best pris musserende vin, Best pris økologisk vin, Best pris importerte viner, Best pris champagne, Best pris whisky, Best pris rom, Best pris tequila, Best pris likør, Best pris dessertvin, Best pris rosévin, Best pris sherry, Best pris vermut, Best pris sake, Best pris cider, Best pris craft beer, Best pris mikrobrygget øl, Best pris alkoholfritt, Best pris alkoholfri vin, Best pris alkoholfri øl, Best pris alkoholfri cider, Best pris alkoholfri musserende vin, Best pris alkoholfri sprit, Best pris alkoholfri gin, Best pris alkoholfri vodka, Best pris alkoholfri whisky, Best pris alkoholfri rom, Best pris alkoholfri tequila, Best pris alkoholfri likør, Best pris alkoholfri dessertvin, Best pris alkoholfri rosévin, Best pris alkoholfri sherry, Best pris alkoholfri vermut, Best pris alkoholfri sake, Best pris alkoholfri cider, Best pris alkoholfri craft beer, Best pris alkoholfri mikrobrygget øl, Best pris alkoholfritt"/>
</head>

<body>
  <header>
    <form action="/" method="get" id="filter">

      <input type="hidden" name="page" value="<%= page %>">
      <input type="hidden" name="ascending" value="<%= ascending %>">
      <input type="hidden" name="news" value="<%= news %>">

      <div class="filterSelection">
        <button id="info">?</button>

        <div class="mainSelection">
          <select name="category" id="category" onchange="applyFilters(true)">
            <option value="null" <%= category === 'null' ? 'selected' : '' %>>Alle kategorier</option>
            <option value="aromatisert" <%= category === 'aromatisert' ? 'selected' : '' %>>Aromatisert vin</option>
            <option value="brennevin" <%= category === 'brennevin' ? 'selected' : '' %>>Brennevin</option>
            <option value="fruktvin" <%= category === 'fruktvin' ? 'selected' : '' %>>Fruktvin</option>
            <option value="hvitvin" <%= category === 'hvitvin' ? 'selected' : '' %>>Hvitvin</option>
            <option value="mjød" <%= category === 'mjød' ? 'selected' : '' %>>Mjød</option>
            <option value="musserende" <%= category === 'musserende' ? 'selected' : '' %>>Musserende vin</option>
            <option value="perlende" <%= category === 'perlende' ? 'selected' : '' %>>Perlende vin</option>
            <option value="rosévin" <%= category === 'rosévin' ? 'selected' : '' %>>Rosévin</option>
            <option value="rødvin" <%= category === 'rødvin' ? 'selected' : '' %>>Rødvin</option>
            <option value="sake" <%= category === 'sake' ? 'selected' : '' %>>Sake</option>
            <option value="sider" <%= category === 'sider' ? 'selected' : '' %>>Sider</option>
            <option value="sterkvin" <%= category === 'sterkvin' ? 'selected' : '' %>>Sterkvin</option>
            <option value="øl" <%= category === 'øl' ? 'selected' : '' %>>Øl</option>
          </select>

          <div>
            <select name="sort" id="sort" onchange="applyFilters()">
              <option value="discount" <%= sort === 'discount' ? 'selected' : '' %>>Prisendring</option>
              <option value="price" <%= sort === 'price' ? 'selected' : '' %>>Pris</option>
              <option value="literprice" <%= sort === 'literprice' ? 'selected' : '' %>>Literpris</option>
              <option value="alcoholprice" <%= sort === 'alcoholprice' ? 'selected' : '' %>>Alkoholpris</option>
              <option value="alcohol" <%= sort === 'alcohol' ? 'selected' : '' %>>Alkoholprosent</option>
            </select>

            <button id="sortButton">
              <%= ascending === true ? '↑' : '↓' %>
            </button>
          </div>

          <select name="store" id="store" onchange="applyFilters(true)">
            <!-- Options will be dynamically populated by `public/js/stores.js`. -->
          </select>

          <div id="clearAll">
            <button id="clearFilters">x</button>
          </div>
        </div>

        <button id="toggleAdvanced">+</button>

      </div>

      <div id="advancedSelection" class="advancedSelection" style="display: none;">
        <div>
          <label for="volume">Volum over</label>
          <input type="float" id="fvolume" name="volume" min="0" step="1" value="<%= volume || '' %>">
          <label for="volume">cL</label>
        </div>

        <div>
          <label for="alcohol">Alkohol over</label>
          <input type="float" id="falcohol" name="alcohol" min="0" step="0.5" value="<%= alcohol || '' %>">
          <label for="alcohol" id="percent">%</label>
        </div>

        <div>
          <label for="search">Søk etter</label>
          <input type="search" id="fsearch" name="search" value="<%= search || null %>">
        </div>

        <button id="newsButton">
          <%= news ? 'Kun nyheter' : 'Alle produkter' %>
        </button>

        <label id="disclaimer-1">Under utvikling.</label>
        <label id="disclaimer-2">Mere kommer.</label>
      </div>
    </form>
  </header>

  <div id="infobox" class="modal">
    <div class="infobox">
      <div class="header">
        <b>Hva er SNUBLEJUICE?</b>
        <span class="exit">x</span>
      </div>
      <p style="line-height: 1.5;">Vinmonopolet justerer prisene hvert månedsskifte. For å gjøre livet ditt litt enklere holder vi styr på prishistorikken til varer, og gir en oversikt over tilbudsvarer.<br><br>Lagerbeholdning oppdateres jevnlig, så avvik kan forekomme. Alltid dobbeltsjekk på produktets side (hvilket åpnes ved å trykke på det).</p>
    </div>
  </div>

  <div class="pagination" id="top">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice.png" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <div id="message" style="display: none;">N.b.: Faktisk lagerbeholdning kan avvike fra denne oversikten. Oppdateres med jevne mellomrom.</div>

  <% if (data.length === 0) { %>
    <p style="text-align: center;">Ingen resultater finnes for valgt kominasjon.</p>
  <% } %>

  <% data.forEach((item, index) => { %>
    <section class="product" index="<%= index %>" style="--highlight: <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--darkgray)' %>; --marker: <%= item.discount > 0 ? 'var(--red)' : item.discount < 0 ? 'var(--green)' : 'var(--blackish)' %>;">
      <div class="image">
        <img src="<%= item.images.product %>" alt="flaske">
        <div class="text"><b><%= (item.volume % 1 === 0) ? item.volume.toFixed(0) : item.volume.toFixed(1) %></b> cL</div>
      </div>
      <div class="information">
        <div class="name">
          <div id="name"><%= item.name %></div>

          <div class="category">
            <div>
              <span><b><%= item.category %></b></span>
              <span style="font-size: 14px;"> <%= item.subcategory %></span>
            </div>

            <div class="text" id="alcohol"><b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>alk.</div>
          </div>

          <div class="country">
            <div style="font-size: 18px;"><%= item.country %></div>
            <% if (item.district) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 16px;"><%= item.district %></div>
            <% } %>
            <% if (item.subdistrict) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 12px;"><%= item.subdistrict %></div>
            <% } %>
          </div>
        </div>

        <div class="description">
          <% if (item.description) { %>
            <p><%= item.description.lang %></p>
          <% } %>
        </div>

        <div class="price">
          <div class="text">KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>FØR <b><%= Math.ceil(item.oldprice) %></b><% } %></div>
          <% if (item.oldprice) { %>
            <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b><b id="percent">%</b></div>
          <% } %>
        </div>
      </div>

      <!-- Modal structure -->
      <div id="detailed-<%= index %>" class="modal">
        <div class="detailed">
          <div class="heading">
            <div class="link">
              <img src="images/www.png" class="www">
              <a href="<%= item.url %>" target="_blank"><%= item.name %></a>
            </div>
            <div class="close" index="<%= index %>">x</div>
          </div>

          <hr>

          <div class="price">
            <div class="text">KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>
              FØR <b><%= Math.ceil(item.oldprice) %></b>
            <% } %>
            </div>
            <% if (item.discount) { %>
              <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b></div>
            <% } %>
          </div>

          <div class="price">
            <div class="text">
              <div class="text">
                LITERPRIS <b><%= Math.ceil(item.literprice) %></b>
              </div>
            <% if (item.alcoholprice) { %>
              <div class="text">
                <div class="text">
                  ALKOHOLLITERPRIS <b><%= Math.ceil(item.alcoholprice) %></b>
                </div>
              </div></div>
              <div class="text">
                <div class="text">
                  ALKOHOL <b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>
                </div>
              </div>
            <% } else { %>
              </div>
            <% } %>
          </div>

          <hr>

          <table class="fractions">
            <tbody>

              <!-- Characteristics. -->
              <% if (item.characteristics && Array.isArray(item.characteristics) && item.characteristics.length > 0) { %>
                <tr>
                  <td>EGENSKAPER<td>
                  <td><td>
                </tr>
                <% item.characteristics.forEach(function(character) {
                  var parts = character.split(', ');
                  var values = parts[1].split(' av ');
                %>
                  <tr>
                    <td class="label"><%= parts[0] %>&nbsp;</td>
                    <td class="value" style="--value: <%= parseInt(values[0]) %>; --total: <%= parseInt(values[1]) %>;"></td>
                  </tr>
                <% }); %>
              <% } %>

              <!-- Ingredients. -->
              <% if (item.ingredients && Array.isArray(item.ingredients) && item.ingredients.length > 0) { %>
                <tr>
                  <td>&nbsp;<td>
                  <td><td>
                </tr>
                <tr>
                  <td>INGREDIENSER<td>
                  <td><td>
                </tr>
                <% item.ingredients.forEach(function(ingredient) {
                  const patterns = [
                    /(\d+)\s*%\s*([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)/i, // Matches "90% eple" or "10% (rips, solbær)"
                    /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)\s*(\d+)\s*prosent/i, // Matches "Sumoll (Vijariego Negro) 10 prosent" or "Pinot Bianco 80 prosent"
                    /([a-zA-ZæøåÆØÅéÉèÈêÊëËáÁàÀâÂäÄíÍìÌîÎïÏóÓòÒôÔöÖúÚùÙûÛüÜ, ()]+)/i, // Matches single word types like "Riesling"
                  ];
                  let result = null;
                  for (const pattern of patterns) {
                    const match = ingredient.match(pattern);
                    if (match) {
                      if (pattern === patterns[0]) {
                        result = { grape: match[2].trim(), percentage: parseFloat(match[1].trim()) };
                        result.grape = result.grape.charAt(0).toUpperCase() + result.grape.slice(1);
                      } else if (pattern === patterns[1]) {
                        result = { grape: match[1].trim(), percentage: parseFloat(match[2].trim()) };
                      } else if (pattern === patterns[2]) {
                        result = { grape: match[1].trim(), percentage: 100.0 };
                      }
                      break;
                    }
                  }
                  if (result) {
                %>
                  <tr>
                    <td class="label">
                      <%= result.grape %>&nbsp;
                    </td>
                    <td class="percentage" style="--percentage: <%= result.percentage %>;"></td>
                  </tr>
                <% } }); %>
              <% } %>

              </tbody>
            </table>

          <hr>

          <!-- Various fields of the product. -->
          <table class="key-val">
            <tbody>
              <% if (item.description.lang) { %>
                <tr>
                  <td class="key">BESKRIVELSE &nbsp;</td>
                  <td class="val"><%= item.description.lang %></td>
                </tr>
              <% } %>
              <% if (item.smell) { %>
                <tr>
                  <td class="key">LUKT</td>
                  <td class="val"><%= item.smell %></td>
                </tr>
              <% } %>
              <% if (item.taste) { %>
                <tr>
                  <td class="key">SMAK</td>
                  <td class="val"><%= item.taste %></td>
                </tr>
              <% } %>
              <% if (item.storage) { %>
                <tr>
                  <td class="key">LAGRING</td>
                  <td class="val"><%= item.storage %></td>
                </tr>
              <% } %>
              <% if (item.colour) { %>
                <tr>
                  <td class="key">FARGE</td>
                  <td class="val"><%= item.colour %></td>
                </tr>
              <% } %>
              <% if (item.selection) { %>
                <tr>
                  <td class="key">VAREUTVALG &nbsp;</td>
                  <td class="val"><%= item.selection %></td>
                </tr>
              <% } %>
              <% if (item.pair && item.pair.length > 0) { %>
                <tr>
                  <td class="key">PASSER TIL &nbsp;</td>
                  <td class="val"><%=
                    item.pair.map(function(pair) {
                      return pair.trim();
                    }).join(' & ')
                    %></td>
                </tr>
              <% } %>
              <% if (item.method) { %>
                <tr>
                  <td class="key">METODE</td>
                  <td class="val"><%= item.method %></td>
                </tr>
              <% } %>
              <% if (item.year) { %>
                <tr>
                  <td class="key">ÅRGANG</td>
                  <td class="val"><%= item.year %></td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <hr>

          <!-- Price chart. -->
          <div style="height:200px;">
            <b>PRISHISTORIKK</b>
            <canvas id="graph-<%= index %>"></canvas>
          </div>

          <script>
            var prices = <%= JSON.stringify(item.prices) %>;
            if (!prices || prices.length === 0) {
              prices = [0, 0];
            }
            var dates = generateDates(prices.length);

            // Duplicate the last price and add today's date to the end of the list
            prices.push(prices[prices.length - 1]);
            dates.push("nå");

            // Store the price history in session.
            sessionStorage.setItem("<%= index %>", JSON.stringify({
              price: prices,
              date: dates
            }));
          </script>

          <hr>

          <div class="price">
            <div class="text">KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>
              FØR <b><%= Math.ceil(item.oldprice) %></b>
            <% } %>
            </div>
            <% if (item.discount) { %>
              <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b></div>
            <% } %>
          </div>

          <div class="price">
            <div class="text">
              <div class="text">
                LITERPRIS <b><%= Math.ceil(item.literprice) %></b>
              </div>
            <% if (item.alcoholprice) { %>
              <div class="text">
                <div class="text">
                  ALKOHOLLITERPRIS <b><%= Math.ceil(item.alcoholprice) %></b>
                </div>
              </div></div>
              <div class="text">
                <div class="text">
                  ALKOHOL <b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>
                </div>
              </div>
            <% } else { %>
              </div>
            <% } %>
          </div>

          <hr>

          <div class="heading">
            <div class="link">
              <img src="images/www.png" class="www">
              <a href="<%= item.url %>" target="_blank"><%= item.name %></a>
            </div>
            <div class="close" index="<%= index %>">x</div>
          </div>
        </div>
      </div>
    </section>
  <% }) %>

  <div class="pagination" id="bottom">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice.png" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <footer>
    <div class="copyright">
        ©
        <div class="names"><div style="letter-spacing: 0.03em;">Hallvard H. Lavik</div><div>Carlos Hebbinghaus</div></div>
    </div>
    <a href="https://github.com/hallvardnmbu/snubleJS" target="_blank">Kildekode</a>
  </footer>

  <script src="js/buttons.js"></script>
</body>
</html>
