<!DOCTYPE html>
<html lang="nb">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYBEXVQ5Q6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PYBEXVQ5Q6');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="js/grapes.js"></script>
    <script src="js/stores.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>snublejuice</title>
    <link rel="icon" type="image/png" href="./images/snublejuice-transparent.png">
    <meta property="og:image" content="./images/snublejuice.jpeg">
</head>

<body>
  <header>
    <form action="/" method="get" id="filter">

      <input type="hidden" name="page" value="<%= page %>">
      <input type="hidden" name="ascending" value="<%= ascending %>">
      <input type="hidden" name="news" value="<%= news %>">

      <div class="filterSelection">
        <button id="info">?</button>
        <div id="infobox" class="modal">
          <div class="infobox">
            <div class="header">
              <b>Hva er SNUBLEJUICE?</b>
              <span class="exit">x</span>
            </div>
            <p style="line-height: 1.5;">Vinmonopolet justerer prisene hvert månedsskifte. For å gjøre livet ditt litt enklere holder vi styr på prishistorikken til varer, og gir en oversikt over tilbudsvarer.<br><br>Lagerbeholdning oppdateres jevnlig, så avvik kan forekomme. Alltid dobbeltsjekk på produktets side (hvilket åpnes ved å trykke på det).</p>
          </div>
        </div>

        <div class="mainSelection">
          <select name="category" id="category" onchange="applyFilters()">
            <option value="null" <%= category === 'null' ? 'selected' : '' %>>Alle kategorier</option>
            <option value="aromatisert" <%= category === 'aromatisert' ? 'selected' : '' %>>Aromatisert vin</option>
            <option value="brennevin" <%= category === 'brennevin' ? 'selected' : '' %>>Brennevin</option>
            <option value="fruktvin" <%= category === 'fruktvin' ? 'selected' : '' %>>Fruktvin</option>
            <option value="hvitvin" <%= category === 'hvitvin' ? 'selected' : '' %>>Hvitvin</option>
            <option value="mjød" <%= category === 'mjød' ? 'selected' : '' %>>Mjød</option>
            <option value="musserende" <%= category === 'musserende' ? 'selected' : '' %>>Musserende vin</option>
            <option value="perlende" <%= category === 'perlende' ? 'selected' : '' %>>Perlende vin</option>
            <option value="rosévin" <%= category === 'rosévin' ? 'selected' : '' %>>Rosévin</option>
            <option value="rødvin" <%= category === 'rødvin' ? 'selected' : '' %>>Rødvin</option>
            <option value="sake" <%= category === 'sake' ? 'selected' : '' %>>Sake</option>
            <option value="sider" <%= category === 'sider' ? 'selected' : '' %>>Sider</option>
            <option value="sterkvin" <%= category === 'sterkvin' ? 'selected' : '' %>>Sterkvin</option>
            <option value="øl" <%= category === 'øl' ? 'selected' : '' %>>Øl</option>
          </select>

          <div>
            <select name="sort" id="sort" onchange="applyFilters()">
              <option value="discount" <%= sort === 'discount' ? 'selected' : '' %>>Prisendring</option>
              <option value="price" <%= sort === 'price' ? 'selected' : '' %>>Pris</option>
              <option value="literprice" <%= sort === 'literprice' ? 'selected' : '' %>>Literpris</option>
              <option value="alcoholprice" <%= sort === 'alcoholprice' ? 'selected' : '' %>>Alkoholpris</option>
              <option value="alcohol" <%= sort === 'alcohol' ? 'selected' : '' %>>Alkoholprosent</option>
            </select>

            <button id="sortButton">
              <%= ascending === true ? '↑' : '↓' %>
            </button>
          </div>

          <select name="store" id="store" onchange="applyFilters()">
            <!-- Options will be dynamically populated by `public/js/stores.js`. -->
          </select>

          <div id="clearAll">
            <button id="clearFilters">x</button>
          </div>
        </div>

        <button id="toggleAdvanced">+</button>

      </div>

      <div id="advancedSelection" class="advancedSelection" style="display: none;">
        <div>
          <label for="volume">Volum over</label>
          <input type="float" id="fvolume" name="volume" min="0" step="1" value="<%= volume || '' %>">
          <label for="volume">cL</label>
        </div>

        <div>
          <label for="alcohol">Alkohol over</label>
          <input type="float" id="falcohol" name="alcohol" min="0" step="0.5" value="<%= alcohol || '' %>">
          <label for="alcohol" id="percent">%</label>
        </div>

        <div>
          <label for="search">Søk etter</label>
          <input type="search" id="fsearch" name="search" value="<%= search || null %>">
        </div>

        <button id="newsButton">
          <%= news ? 'Kun nyheter' : 'Alle produkter' %>
        </button>

        <label id="disclaimer-1">Under utvikling.</label>
        <label id="disclaimer-2">Mere kommer.</label>
      </div>
    </form>
  </header>

  <div class="pagination" id="top">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice.jpeg" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <div id="message" style="display: none;">N.b.: Faktisk lagerbeholdning kan avvike fra denne oversikten. Oppdateres med jevne mellomrom.</div>

  <% if (data.length === 0) { %>
    <p style="text-align: center;">Ingen resultater finnes for valgt kominasjon.</p>
  <% } %>

  <% data.forEach(item => { %>
    <section class="product" index="<%= item.index %>" style="border-bottom: 10px solid <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--gray)' %>;">
      <div class="image">
        <img src="<%= item.images.product %>" alt="flaske">
        <div class="text"><b><%= item.volume %></b> cL</div>
      </div>
      <div class="information">
        <div class="name">
          <div id="name"><%= item.name %></div>

          <div class="category">
            <div>
              <span><b><%= item.category %></b></span>
              <span style="font-size: 14px;"> <%= item.subcategory %></span>
            </div>

            <div class="text" id="alcohol"><b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>alk.</div>
          </div>

          <div class="country">
            <div style="font-size: 18px;"><%= item.country %></div>
            <% if (item.district) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 16px;"><%= item.district %></div>
            <% } %>
            <% if (item.subdistrict) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 12px;"><%= item.subdistrict %></div>
            <% } %>
          </div>
        </div>

        <div class="description">
          <% if (item.description) { %>
            <p><%= item.description.lang %></p>
          <% } %>
        </div>

        <div class="price">
          <div class="text">KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>FØR <b><%= Math.ceil(item.oldprice) %></b><% } %></div>
          <% if (item.oldprice) { %>
            <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b><b id="percent">%</b></div>
          <% } %>
        </div>
      </div>

      <!-- Modal structure -->
      <div id="detailed-<%= item.index %>" class="modal">
        <div class="detailed">
          <div>
            <a href="<%= item.url %>" target="_blank">Kjøp</a>
            <span class="close" index="<%= item.index %>">x</span>
          </div>

          <b><%= item.name %></b>

          <%= item.smell %>
          <%= item.taste %>
          <%= item.storage %>
          <%= item.colour %>
          <%= item.selection %>
          <%= item.literprice %>
          <%= item.alcoholprice %>
          <%= item.pair %>
          <%= item.method %>
          <%= item.year %>

          <!--Characteristics-->
          <% if (item.characteristics && Array.isArray(item.characteristics) && item.characteristics.length > 0) { %>
            <div class="characteristics">
              <% item.characteristics.forEach(function(character) {
                var parts = character.split(', ');
                var values = parts[1].split(' av ');
                var percentage = (parseInt(values[0]) / parseInt(values[1])) * 100;
              %>
                <div class="fraction">
                  <span class="label"><%= parts[0] %></span>
                  <div class="value" style="--percentage: <%= percentage %>;"></div>
                </div>
              <% }); %>
            </div>
          <% } %>

          <!--Ingredients-->
          <% if (item.ingredients && Array.isArray(item.ingredients) && item.ingredients.length > 0) { %>
            <div class="ingredients">
              <% item.ingredients.forEach(function(ingredient) {
                console.log(ingredient);
                let match = window.grapePercentage(ingredient);
              %>
                <div class="fraction">
                  <span class="label"><%= match.grape %></span>
                  <div class="value" style="--percentage: <%= match.percentage %>;"></div>
                </div>
              <% }); %>
            </div>
          <% } %>

          <!-- Plotly Chart for Price Change Over Time -->
          <div id="priceChart-<%= item.index %>" style="width:100%;max-width:600px;height:400px;"></div>

          <script>
            function formatDateAsLocalString(date) {
              const year = date.getFullYear();
              const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Pad with leading zero if necessary
              const day = date.getDate().toString().padStart(2, '0'); // Pad with leading zero if necessary
              return `${year}-${month}-${day}`;
            }

            // Function to generate dates on the 1st of each month in local time
            function generateDates(numPrices) {
              var dates = [];
              var currentDate = new Date();
              for (var i = 0; i < numPrices; i++) {
                var newDate = new Date(currentDate.getFullYear(), currentDate.getMonth() - i, 1);
                dates.unshift(formatDateAsLocalString(newDate)); // Use local date formatting
              }
              return dates;
            }

            var prices = <%= JSON.stringify(item.prices) %>;
            var dates = generateDates(prices.length);

            var trace = {
              x: dates,
              y: prices,
              type: 'scatter',
              mode: 'lines+markers',
              name: 'Price over Time',
              line: { color: 'green' }
            };

            var layout = {
              title: 'Price Change Over Time',
              xaxis: { title: 'Date' },
              yaxis: { title: 'Price (KR)' }
            };

            var config = {
              displayModeBar: false
            };

            Plotly.newPlot('priceChart-<%= item.index %>', [trace], layout, config);
          </script>
        </div>
      </div>
    </section>
  <% }) %>

  <div class="pagination" id="bottom">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice.jpeg" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <footer>
    <div class="copyright">
        ©
        <div class="names"><div style="letter-spacing: 0.03em;">Hallvard H. Lavik</div><div>Carlos Hebbinghaus</div></div>
    </div>
    <a href="https://github.com/hallvardnmbu/snubleJS" target="_blank">Kildekode</a>
  </footer>

  <script src="js/buttons.js"></script>
</body>
</html>
