<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="scripts/graph.js"></script>
    <script src="scripts/stores.js"></script>
    <script src="scripts/countries.js"></script>

    <title>Snublejuice</title>
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/png" href="./images/64x64.png" />
    <link rel="apple-touch-icon" href="./images/64x64.png" />

    <meta property="og:image" content="./images/web.png" />
    <meta property="og:title" content="SNUBLEJUICE.no" />
    <meta property="og:description" content="Hold deg oppdatert på Vinmonopolets tilbud og prishistorikk!" />
    <meta name="description" content="Hold deg oppdatert på Vinmonopolets tilbud og prishistorikk!" />
    <meta name="keywords" content="Tilbud vin, Tilbud øl, Tilbud sprit, Tilbud hvitvin, Tilbud rødvin, Tilbud portvin, Gin, Vodka, Tilbud på alkohol, Tilbud vinmonopolet, Priser på vin, Priser på Øl, prisliste Vinmonopolet, Tilbud whisky, Tilbud champagne, Cognac, Brandy, Tilbud på brennevin, Billig vin, Billig øl, Billig sprit, Rødvin på tilbud, Hvitvin på tilbud, Alkohol tilbud, Vinmonopolet tilbud, Vinmonopolets tilbud, Importerte viner, Økologisk vin, Musserende vin, Priser på sprit, Priser på gin, Priser på vodka, Best pris alkohol, Tilbud på gin, Tilbud på vodka, Tilbud på cognac, Tilbud på brandy, Tilbud på musserende vin, Tilbud på økologisk vin, Tilbud på importerte viner, Tilbud på champagne, Tilbud på whisky, Tilbud på rom, Tilbud på tequila, Tilbud på likør, Tilbud på dessertvin, Tilbud på rosévin, Tilbud på sherry, Tilbud på vermut, Tilbud på sake, Tilbud på cider, Tilbud på craft beer, Tilbud på mikrobrygget øl, Tilbud på alkoholfritt, Tilbud på alkoholfri vin, Tilbud på alkoholfri øl, Tilbud på alkoholfri cider, Tilbud på alkoholfri musserende vin, Tilbud på alkoholfri sprit, Tilbud på alkoholfri gin, Tilbud på alkoholfri vodka, Tilbud på alkoholfri whisky, Tilbud på alkoholfri rom, Tilbud på alkoholfri tequila, Tilbud på alkoholfri likør, Tilbud på alkoholfri dessertvin, Tilbud på alkoholfri rosévin, Tilbud på alkoholfri sherry, Tilbud på alkoholfri vermut, Tilbud på alkoholfri sake, Tilbud på alkoholfri cider, Tilbud på alkoholfri craft beer, Tilbud på alkoholfri mikrobrygget øl, Tilbud på alkoholfritt, Priser på gin, Priser på vodka, Priser på cognac, Priser på brandy, Priser på musserende vin, Priser på økologisk vin, Priser på importerte viner, Priser på champagne, Priser på whisky, Priser på rom, Priser på tequila, Priser på likør, Priser på dessertvin, Priser på rosévin, Priser på sherry, Priser på vermut, Priser på sake, Priser på cider, Priser på craft beer, Priser på mikrobrygget øl, Priser på alkoholfritt, Priser på alkoholfri vin, Priser på alkoholfri øl, Priser på alkoholfri cider, Priser på alkoholfri musserende vin, Priser på alkoholfri sprit, Priser på alkoholfri gin, Priser på alkoholfri vodka, Priser på alkoholfri whisky, Priser på alkoholfri rom, Priser på alkoholfri tequila, Priser på alkoholfri likør, Priser på alkoholfri dessertvin, Priser på alkoholfri rosévin, Priser på alkoholfri sherry, Priser på alkoholfri vermut, Priser på alkoholfri sake, Priser på alkoholfri cider, Priser på alkoholfri craft beer, Priser på alkoholfri mikrobrygget øl, Priser på alkoholfritt, Best pris gin, Best pris vodka, Best pris cognac, Best pris brandy, Best pris musserende vin, Best pris økologisk vin, Best pris importerte viner, Best pris champagne, Best pris whisky, Best pris rom, Best pris tequila, Best pris likør, Best pris dessertvin, Best pris rosévin, Best pris sherry, Best pris vermut, Best pris sake, Best pris cider, Best pris craft beer, Best pris mikrobrygget øl, Best pris alkoholfritt, Best pris alkoholfri vin, Best pris alkoholfri øl, Best pris alkoholfri cider, Best pris alkoholfri musserende vin, Best pris alkoholfri sprit, Best pris alkoholfri gin, Best pris alkoholfri vodka, Best pris alkoholfri whisky, Best pris alkoholfri rom, Best pris alkoholfri tequila, Best pris alkoholfri likør, Best pris alkoholfri dessertvin, Best pris alkoholfri rosévin, Best pris alkoholfri sherry, Best pris alkoholfri vermut, Best pris alkoholfri sake, Best pris alkoholfri cider, Best pris alkoholfri craft beer, Best pris alkoholfri mikrobrygget øl, Best pris alkoholfritt"/>
</head>

<body>
  <%- include('partials/header', { updated }) %>

  <% if (data.length === 0) { %>
    <p style="text-align: center;">Ingen resultater finnes for valgt kominasjon.</p>
  <% } %>

  <% data.forEach((item, index) => { %>
    <section class="product" index="<%= index %>" style="--highlight: <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--block)' %>; --marker: <%= item.discount > 0 ? 'var(--red)' : item.discount < 0 ? 'var(--green)' : 'var(--dimtext)' %>;">

      <div class="image">
        <img src="<%= item.images.product %>" alt="flaske">
        <div class="text"><b><%= (item.volume % 1 === 0) ? item.volume.toFixed(0) : item.volume.toFixed(1) %></b> cL</div>
      </div>

      <div class="information">
        <div class="name">
          <div id="name"><%= item.name %></div>

          <div class="category">
            <div>
              <span><b><%= item.category %></b></span>
              <span style="font-size: 14px;"> <%= item.subcategory %></span>
            </div>

            <div class="text" id="alcohol"><b id="alcohol"><%= item.alcohol %></b><b id="percent">%</b>alk.</div>
          </div>

          <div class="country">
            <div style="font-size: 18px;"><%= item.country %></div>
            <% if (item.district) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 16px;"><%= item.district %></div>
            <% } %>
            <% if (item.subdistrict) { %>
              <div id="dot" style="font-size: 10px;">●</div>
              <div style="font-size: 12px;"><%= item.subdistrict %></div>
            <% } %>
          </div>

          <div class="country">
            <% if (storelike) { %>
              <% const storeRegex = new RegExp(`(^|[^a-zæøåA-ZÆØÅ])${storelike}([^a-zæøåA-ZÆØÅ]|$)`, 'i') %>
              <% const matchingStores = item.stores.filter(store => storeRegex.test(store)) %>
              <% matchingStores.forEach((store, index) => { %>
                <div style="font-size: 16px;"><%= store %></div>
                <% if (index !== matchingStores.length - 1) { %>
                  <div id="dot" style="font-size: 10px;">●</div>
                <% } %>
              <% }) %>
            <% } %>
          </div>
        </div>

        <div class="description">
          <% if (item.description) { %>
            <p><%= item.description.lang %></p>
          <% } %>
        </div>

        <div class="price">
          <div class="text">KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>FØR <b><%= Math.ceil(item.oldprice) %></b><% } %></div>
          <% if (item.oldprice) { %>
            <div class="text">ENDRING <b><%= Math.floor(item.discount) %></b><b id="percent">%</b></div>
          <% } %>
        </div>
      </div>

      <div id="detailed-<%= index %>" class="modal">

        <div class="navigation" id="above">
          <% if (index > 0) { %>
            <a onclick="changeModal(<%= index %>, <%= index - 1 %>, event)">FORRIGE</a>
          <% } else { %>
            <span></span>
          <% } %>

          <% if (index < 14) { %>
            <a onclick="changeModal(<%= index %>, <%= index + 1 %>, event)">NESTE</a>
          <% } else { %>
            <span></span>
          <% } %>
        </div>

        <%- include('partials/detailed', { item: item, index: index }) %>

        <div class="navigation" id="below">
          <% if (index > 0) { %>
            <a onclick="changeModal(<%= index %>, <%= index - 1 %>, event)">FORRIGE</a>
          <% } else { %>
            <span></span>
          <% } %>

          <% if (index < 14) { %>
            <a onclick="changeModal(<%= index %>, <%= index + 1 %>, event)">NESTE</a>
          <% } else { %>
            <span></span>
          <% } %>
        </div>

      </div>

    </section>
  <% }) %>

  <%- include('partials/footer') %>
</body>
</html>
