<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYBEXVQ5Q6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PYBEXVQ5Q6');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="js/stores.js"></script>
    <title>snublejuice</title>
    <link rel="icon" type="image/png" href="./images/snublejuice.png">
    <link rel="apple-touch-icon" href="./images/snublejuice.png">
</head>

<body>
  <header>
    <form action="/" method="get" id="filter">

      <input type="hidden" name="page" value="<%= page %>">
      <input type="hidden" name="ascending" value="<%= ascending %>">
      <input type="hidden" name="news" value="<%= news %>">

      <div class="filterSelection">
        <button id="info">?</button>
        <div id="infobox" class="modal">
          <div class="infobox">
            <span class="close">x</span>
            <b>Hva er SNUBLEJUICE?</b>
            <p style="line-height: 1.5;">Vinmonopolet justerer prisene hvert månedsskifte. For å gjøre livet ditt litt enklere holder vi styr på prishistorikken til varer, og gir en oversikt over tilbudsvarer.<br><br>Lagerbeholdning oppdateres jevnlig, så avvik kan forekomme. Alltid dobbeltsjekk på produktets side (hvilket åpnes ved å trykke på det).</p>
          </div>
        </div>

        <div class="mainSelection">
          <select name="category" id="category" onchange="applyFilters()">
            <option value="null" <%= category === 'null' ? 'selected' : '' %>>Alle kategorier</option>
            <option value="aromatisert" <%= category === 'aromatisert' ? 'selected' : '' %>>Aromatisert vin</option>
            <option value="brennevin" <%= category === 'brennevin' ? 'selected' : '' %>>Brennevin</option>
            <option value="fruktvin" <%= category === 'fruktvin' ? 'selected' : '' %>>Fruktvin</option>
            <option value="hvitvin" <%= category === 'hvitvin' ? 'selected' : '' %>>Hvitvin</option>
            <option value="mjød" <%= category === 'mjød' ? 'selected' : '' %>>Mjød</option>
            <option value="musserende" <%= category === 'musserende' ? 'selected' : '' %>>Musserende vin</option>
            <option value="perlende" <%= category === 'perlende' ? 'selected' : '' %>>Perlende vin</option>
            <option value="rosévin" <%= category === 'rosévin' ? 'selected' : '' %>>Rosévin</option>
            <option value="rødvin" <%= category === 'rødvin' ? 'selected' : '' %>>Rødvin</option>
            <option value="sake" <%= category === 'sake' ? 'selected' : '' %>>Sake</option>
            <option value="sider" <%= category === 'sider' ? 'selected' : '' %>>Sider</option>
            <option value="sterkvin" <%= category === 'sterkvin' ? 'selected' : '' %>>Sterkvin</option>
            <option value="øl" <%= category === 'øl' ? 'selected' : '' %>>Øl</option>
          </select>

          <div>
            <select name="sort" id="sort" onchange="applyFilters()">
              <option value="discount" <%= sort === 'discount' ? 'selected' : '' %>>Prisendring</option>
              <option value="price" <%= sort === 'price' ? 'selected' : '' %>>Pris</option>
              <option value="literprice" <%= sort === 'literprice' ? 'selected' : '' %>>Literpris</option>
              <option value="alcoholprice" <%= sort === 'alcoholprice' ? 'selected' : '' %>>Alkoholpris</option>
              <option value="alcohol" <%= sort === 'alcohol' ? 'selected' : '' %>>Alkoholprosent</option>
            </select>

            <button id="sortButton">
              <%= ascending === true ? '↑' : '↓' %>
            </button>
          </div>

          <select name="store" id="store" onchange="applyFilters()">
            <!-- Options will be dynamically populated by `public/js/stores.js`. -->
          </select>

          <div style="justify-content: center;">
            <button id="clearFilters">x</button>
          </div>
        </div>

        <button id="toggleAdvanced">+</button>
      </div>

      <div id="advancedSelection" class="advancedSelection" style="display: none;">
        <div>
          <label for="volume">Volum over</label>
          <input type="float" id="fvolume" name="volume" min="0" step="1" value="<%= volume || '' %>">
          <label for="volume">cL</label>
        </div>

        <div>
          <label for="alcohol">Alkohol over</label>
          <input type="float" id="falcohol" name="alcohol" min="0" step="0.5" value="<%= alcohol || '' %>">
          <label for="alcohol" id="percent">%</label>
        </div>

        <div>
          <label for="search">Søk etter</label>
          <input type="search" id="fsearch" name="search" value="<%= search || null %>">
        </div>

        <button id="newsButton">
          <%= news ? 'Kun nyheter' : 'Alle produkter' %>
        </button>

        <label id="disclaimer-1">Under utvikling.</label>
        <label id="disclaimer-2">Mere kommer.</label>
      </div>
    </form>
  </header>

  <div class="pagination" id="top">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice-small.png" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <div id="message" style="display: none;">N.b.: Faktisk lagerbeholdning kan avvike fra denne oversikten. Oppdateres med jevne mellomrom.</div>

  <% if (data.length === 0) { %>
    <p style="text-align: center;">Ingen resultater finnes for valgt kominasjon.</p>
  <% } %>

  <% data.forEach(item => { %>
    <section class="product-section" data-item-id="<%= item._id %>" style="border-bottom: 10px solid <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--gray)' %>; color: <%= item.discount > 0 ? 'var(--negative)' : item.discount < 0 ? 'var(--positive)' : 'var(--gray)' %>;">
      <div class="image">
        <img src="<%= item.images.product %>" alt="flaske">
        <p><b><%= item.volume %></b> cL</p>
      </div>
      <div class="information">
        <div class="name">
          <p><%= item.name %></p>
          <div class="category">
            <p>
              <span><b><%= item.category %></b></span>
              <span style="font-size: 14px;"> <%= item.subcategory %></span>
            </p>
            <p><%= item.alcohol %> % alk.</p>
          </div>
          <div class="country">
            <p style="font-size: 18px;"><%= item.country %></p>
            <% if (item.district) { %>
              <p id="dot" style="font-size: 10px;">●</p>
              <p style="font-size: 16px;"><%= item.district %></p>
            <% } %>
            <% if (item.subdistrict) { %>
              <p id="dot" style="font-size: 10px;">●</p>
              <p style="font-size: 12px;"><%= item.subdistrict %></p>
            <% } %>
          </div>
        </div>
        <div class="description">
          <% if (item.description) { %>
            <p><%= item.description.lang %></p>
          <% } %>
        </div>
        <div class="price">
          <p>KR <b><%= Math.ceil(item.price) %></b>
            <% if (item.oldprice) { %>FØR <b><%= Math.ceil(item.oldprice) %></b><% } %>
          </p>
          <% if (item.oldprice) { %>
            <p>ENDRING <b><%= Math.floor(item.discount) %></b> %</p>
          <% } %>
        </div>
      </div>

      <!-- Modal structure -->
      <div id="modal-<%= item._id %>" class="modal">
        <div class="modal-content">
          <span class="close" data-item-id="<%= item.index %>">x</span>
          <h2><%= item.name %></h2>
          <p><%= item.description.lang %></p>
          <p>Price: KR <b><%= Math.ceil(item.price) %></b></p>
          <a href="<%= item.url %>" target="_blank">Produktsiden</a>
          <h3>Mer Informasjon</h3>
          <p>Alkoholprosent: <%= item.alcohol %> %</p>
          <p><%= JSON.stringify(item.karakteristikk, null, 2) %></p>
          <% if (item.karakteristikk && Array.isArray(item.karakteristikk) && item.karakteristikk.length > 0) { %>
            <p>Karakteristikk: <%= item.karakteristikk.join(', ') %></p>
          <% } else { %>
            <p>Karakteristikk: No characteristics available.</p>
          <% } %>
        </div>
      </div>
    </section>
  <% }) %>




  <div class="pagination" id="bottom">
    <div>SNUBLEJUICE.no</div>
    <img src="images/snublejuice-small.png" alt="SNUBLEJUICE.no">
    <div>
      <% if (page > 1) { %>
          <a href="#" onclick="changePage(<%= page - 1 %>)">FORRIGE</a>
      <% } %>

      <span><%= page %> av <%= totalPages %></span>

      <% if (page < totalPages) { %>
          <a href="#" onclick="changePage(<%= page + 1 %>)">NESTE</a>
      <% } %>
    </div>
  </div>

  <footer>
    <div class="copyright">
        ©
        <div class="names"><div style="letter-spacing: 0.03em;">Hallvard H. Lavik</div><div>Carlos Hebbinghaus</div></div>
    </div>
    <a href="https://github.com/hallvardnmbu/snubleJS" target="_blank">Kildekode</a>
  </footer>

  <script src="js/buttons.js"></script>
</body>
</html>
