<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Snublejuice</title>
</head>
<body>
    <h1>Snublejuice</h1>
    <ul>
        <% data.forEach(item => { %>
          <div>
            <div class="item-container">
              <div class="item-header-container">
                <div class="item-header-title">
                  <p><%= item.navn %></p>
                </div>
   
                <div class="item-header-pricechange">
                  <p>Prisendring <%= Math.floor(item['prisendring 2024-09-01']) %> %</p>
                </div>
              </div>
              
              <div class="item-main-container">
                <div class="item-picture">
                  <img src="<%= item.bilde.product %>" alt="bottle-image"/>
                  <div class="item-picture-text">
                    <p><%= item.volum %> cL</p>
                    <p><%= item.alkohol%> % alk.</p>
                  </div>
                </div>


                <div class="item-information-container">
                  <nav class="item-nav">
                    <a href="#general-<%= item.index %>" class="tab-link active" data-target="general-<%= item.index %>">Generelt</a>
                    <a href="#details-<%= item.index %>" class="tab-link" data-target="details-<%= item.index %>">Detaljer</a>
                  </nav>
                  <!-- General Information Section -->
                  <div id="general-<%= item.index %>" class="content-section active">
                    <div class="general-headline">
                      <div class="item-category">
                        <p><%= item.kategori %></p>
                      </div>
                      <div class="item-location">
                        <p><%= item.land %></p>
                        <p class="item-district"><%= item.distrikt %></p>
                        <p class="item-underdistrict"><%= item.underdistrikt %></p>
                      </div>
                    </div>
                    <div class="prices">
                      <p>Pris: <%= item.pris %> kr</p>
                      <a>Bestill</a>
                      <p>Pris per liter: <%= item['pris per liter'] %> kr</p>
                      <p>FØR kr</p>
                    </div>  
                  </div>
                  
                  <!-- Detailed Information Section -->
                  <div id="details-<%= item.index %>" class="content-section">
                    <p>Ingredienser: <%= item.farge %></p>
                    <p>Passer til: <%= item.passerTil %></p>
                    <p>Karakteristikk: Fylde <%= item.fylde %>, Friskhet <%= item.friskhet %>, Sødme <%= item.sødme %></p>
                  </div>

                  <!--
                  <div class="item-category">
                    <p><%= item.kategori %></p>
                  </div>
                  <div class="item-location">
                    <p><%= item.land %></p>
                    <p><%= item.distrikt%></p>
                    <p><%= item.underdistrikt%></p>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
            
        <% }) %>
    </ul>

    <!-- Pagination Controls -->
    <div>
        <% if (currentPage > 1) { %>
            <a href="/?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>

        <span>Page <%= currentPage %> of <%= totalPages %></span>

        <% if (currentPage < totalPages) { %>
            <a href="/?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>


    <script src="js/script.js"></script>
</body>
</html>
