<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Snublejuice</title>
</head>
<body>
    <header class="meny">
        <form action="/" method="get" style="display:inline;" id="sortingForm">
            <input type="hidden" name="page" value="<%= currentPage %>">
            <input type="hidden" name="ascending" value="<%= ascending %>">

            <select name="sorting" id="sorting" onchange="document.getElementById('sortingForm').submit();">
                <option value="prisendring" <%= sorting === 'prisendring' ? 'selected' : '' %>>Prisendring</option>
                <option value="navn" <%= sorting === 'navn' ? 'selected' : '' %>>Navn</option>
                <option value="literpris" <%= sorting === 'literpris' ? 'selected' : '' %>>Literpris</option>
                <!-- Add more sorting options as needed -->
            </select>
        </form>

        <form action="/" method="get" style="display:inline;">
            <input type="hidden" name="page" value="<%= currentPage %>">
            <input type="hidden" name="sorting" value="<%= sorting %>">
            <input type="hidden" name="ascending" value="<%= !ascending %>">
            <button type="submit">
                <%= ascending ? 'Stigende' : 'Synkende' %>
            </button>
        </form>
    </header>

    <% data.forEach(item => { %>
        <section>
          <div class="image">
            <img src="<%= item.bilde.product %>" alt="flaske">
            <p><b><%= item.volum %></b> cL</p>
          </div>
          <div class="information">
            <div class="name">
              <p><%= item.navn %></p>
              <p><b><%= item.kategori %> <%= item.underkategori %></b></p>
              <p><%= item.land %> <%= item.distrikg %> <%= item.underdistrikg %></p>
            </div>
            <div class="price">
              <p>KR <b><%= item.pris %></b></p>
              <p>|</p>
              <p>FØR <b><%= item.førpris %></b></p>
              <p>|</p>
              <p>PRISENDRING <b><%= Math.floor(item.prisendring) %></b> %</p>
            </div>
          </div>
        </section>
    <% }) %>

    <footer>
        <% if (currentPage > 1) { %>
            <a href="/?page=<%= currentPage - 1 %>&sorting=<%= sorting %>&ascending=<%= ascending %>">FORRIGE</a>
        <% } %>

        <span><%= currentPage %> av <%= totalPages %></span>

        <% if (currentPage < totalPages) { %>
            <a href="/?page=<%= currentPage + 1 %>&sorting=<%= sorting %>&ascending=<%= ascending %>">NESTE</a>
        <% } %>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>
