<% if (!word) { %>

  <section">
    <div class="message">Noe gikk galt.</div>
  </section>

<% } else { %>

  <section>
      <div class="top">
        <div class="words">
          <div class="word"><%= word.word %></div>
          <% if (word.pronunciation && word.pronunciation.length > 0) { %>
              <div class="pronunciation">[<%= word.pronunciation %>]</div>
          <% } %>
        </div>
        <div class="group"><%= word.wordgroup.includes(',') ? word.wordgroup.split(",")[0] : word.wordgroup %></div>
      </div>

      <% if (word.etymology) { %>
        <% word.etymology.forEach(function(etymology) { %>
            <div class="etymology"><%= etymology %></div>
        <% }); %>
      <% } %>

      <hr />

      <%
      function formatDefinitions(definitions) {
        if (Array.isArray(definitions)) {
          items = [];
          for (const item of definitions) {
            items.push(...formatDefinitions(item));
          }
          return items;
        } else if (typeof definitions === "object" && definitions !== null) {
          return Object.entries(definitions).map(([key, values]) => {
            const elements = formatDefinitions(values);
            return `${key}: ${elements.join(', ')}`;
          });
        }
        return [String(definitions).replace(/<i>/g, "").replace(/<\/i>/g, "")]
      }
      %>

      <% if (word.definitions) { %>
          <% for (const row of formatDefinitions(word.definitions)) { %>
              <div class="definition"><%= row %></div>
          <% } %>
      <% } %>

      <button class="toggleInflection" id="toggleInflection-<%= word.dictionary %>" onclick="toggleInflection('<%= word.dictionary %>')">
        bøying
      </button>

      <script>
      function toggleInflection(dictionaryId) {
          const button = document.getElementById(`toggleInflection-${dictionaryId}`);
          const inflection = document.getElementById(`inflection-${dictionaryId}`);

          // Toggle button text
          button.textContent = button.textContent.trim() === 'bøying'
              ? 'skjul'
              : 'bøying';

          // Toggle inflection table visibility
          inflection.style.display = inflection.style.display === 'table' ? 'none' : 'table';
      }
      </script>

      <% if (word.inflection && word.inflection[0]) { %>
        <table class="inflection" style="display: none;" id="inflection-<%= word.dictionary %>">
          <tbody>
            <% word.inflection[0].forEach(function(inflect) { %>
              <% if (inflect.word_form && !(inflect.tags ? inflect.tags.join(' ') : '').includes(' <')) { %>
                <tr>
                  <td class="word-cell"><%= inflect.word_form %></td>
                  <td class="form-cell"><%= inflect.tags ? inflect.tags.join(' ') : '' %></td>
                </tr>
              <% } %>
            <% }); %>
          </tbody>
        </table>
      <% } %>

  </section>

<% } %>
