<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Snublejuice</title>
</head>
<body>
    <h1>Snublejuice</h1>
    <ul>
        <% data.forEach(item => { %>
          <div>
            <div class="item-container">
              <div class="item-header-container">
                <div class="item-header-title">
                  <p><%= item.navn %></p>
                </div>

                <div class="item-header-pricechange">
                  <p>Prisendring <%= Math.floor(item.prisendring) %> %</p>
                </div>
              </div>
              
              <div class="item-main-container">
                <div class="item-picture">
                  <img src="<%= item.bilde.product %>" alt="bottle-image"/>
                  <div class="item-picture-text">
                    <p><%= item.volum %> cL</p>
                    <p><%= item.alkohol%> % alk.</p>
                  </div>
                </div>

                <div class="item-information-container">
                  <nav class="item-nav">
                    <a href="#general-<%= item.index %>" class="tab-link active" data-target="general-<%= item.index %>">Generelt</a>
                    <a href="#details-<%= item.index %>" class="tab-link" data-target="details-<%= item.index %>">Detaljer</a>
                  </nav>
                  <!-- General Information Section -->
                  <div id="general-<%= item.index %>" class="content-section active">
                    <div class="general-headline">
                      <div class="item-category">
                        <p><%= item.kategori %></p>
                      </div>
                      <div class="item-location">
                        <p><%= item.land %></p>
                        <p class="item-district"><%= item.distrikt %></p>
                        <p class="item-underdistrict"><%= item.underdistrikt %></p>
                      </div>
                    </div>
                    <div class="prices">
                      <div class="prices-subcontainer">
                      <p class="item-price"><%= item.pris || 'Price not available' %> kr</p>
                      <a class="item-link">Bestill</a>
                      <p class="item-literpris">(<%= Math.floor(item.literpris) %>kr / L)</p>
                      </div>
                      <div class="previous-price">
                        <p>FØR <%= item.førpris || 'Price not available' %> kr</p>
                      </div>
                    </div> 
                    <div class="black-line"></div> 
                    <div class="item-information">
                      <div class="item-caracteristics">
                        <p class="category-headers">Karakteristikk</p>
                        <% if (Array.isArray(item.karakteristikk)) { %>
                          <% item.karakteristikk.forEach(function(karakteristikk) { %>
                            <div style="display: flex; align-items: center">
                              <div class="caracteristic">
                                <p><%= karakteristikk.toUpperCase() %></p>
                              </div>
                            </div>
                          <% }); %>
                        <% } %>
                      </div>
                      <div class="item-caracteristics">
                        <p class="category-headers">Ingredienser</p>
                        <% if (Array.isArray(item.ingredienser)) { %>
                          <% item.ingredienser.forEach(function(ingredienser) { %>
                            <div style="display: flex; align-items: center">
                              <div class="caracteristic">
                                <p><%= ingredienser.toUpperCase() %></p>
                              </div>
                            </div>
                          <% }); %>
                        <% } %>
                      </div>
                      <div class="item-caracteristics">
                        <p class="category-headers">Passer til</p>
                        <% if (Array.isArray(item['passer til'])) { %>
                          <% item['passer til'].forEach(function(passerTil) { %>
                            <div style="display: flex; align-items: center">
                              <div class="caracteristic">
                                <p><%= passerTil.toUpperCase() %></p>
                              </div>
                            </div>
                          <% }); %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Detailed Information Section -->
                  <div id="details-<%= item.index %>" class="content-section">
                    <p class="price-history-header">Prishistorikk</p>
                    <div id="tester-<%= item.index %>" class="tester" style="width: 100%;height:175px;"></div>
                    <script>
                      // Pass the item.priser array to a global JavaScript variable
                      window.priserData = window.priserData || {};
                      window.priserData[<%= item.index %>] = <%= JSON.stringify(item.priser) %>;
                    </script>

                    <div class="black-line"></div> 
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% }) %>
    </ul>

    <!-- Pagination Controls -->
    <div>
        <% if (currentPage > 1) { %>
            <a href="/?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>

        <span>Page <%= currentPage %> of <%= totalPages %></span>

        <% if (currentPage < totalPages) { %>
            <a href="/?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>


    <script src="js/script.js"></script>
</body>
</html>
